.sidebar {
    width: 250px;
    z-index: 1;
    position: absolute;
    /*margin-top:51px;*/
    border-color: #e7e7e7;
}

.sidebar .sidebar-nav{
    padding-left: 0px;
    padding-right:0px;
}

.sidebar ul li {
border-bottom: 1px solid #e7e7e7;
}

nav li{
    display: block;
}