<div class="wrapper">
  <div class="panel">
    <div class="panel-heading">
      <h4>Merchant Dashbord</h4>
    </div>
    <div class="panel-body">
      <ul class="nav nav-pills">
        <li><a [routerLink]="['postproduct']" routerLinkActive="active">Post Product</a></li>
        <li><a [routerLink]="['orders']">Orders and Views</a></li>
        <li><a [routerLink]="['messages']">Messages</a></li>
      </ul>
      <div class="tab-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>